@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@import "@fontsource/rye";
@import "@fontsource-variable/playfair-display";
@import "@fontsource-variable/georama";

@theme inline {
    --font-display: "Rye", sans-serif;
    --font-serif: "Playfair Display Variable", serif;
    --font-sans: "Georama Variable", sans-serif;
    --font-mono: "Cutive Mono", monospace;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}
